/.vs

/src/Novelbin.API/bin
/src/Novelbin.API/obj
/src/Novelbin.Core/bin
/src/Novelbin.Core/obj

/tests/Novelbin.Core.Tests/bin
/tests/Novelbin.Core.Tests/obj
/src/Novelbin.Core/bin
/src/Novelbin.Core/obj
